.topbar {
    position: fixed;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#back-button{
    width: 70px;
    height: 50px;
    background-color: #909090;
    float: left;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer; 
}

#back-button:hover { 
    background-color: #a3b1f9;
    transform: scale(1.05); 
} 

h1, p{
    font-size: 30px;
    padding-top: 40px;
    display: inline-block;
}

p{
    color: #d49eab;
}

#opponent-choice{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: inline-block;
}

#user-choice{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: inline-block;
}

#choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}